<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://tinyurl.com/codesensei" %>
</head>
<body>
  <%= link_to "New post", "/posts/new" %>
  <%= link_to "All posts", "/posts" %>
<%= yield %>

</body>
</html>
